@import 'variables/colors';
@import 'variables/fontSizes';

.info {
  background-color: $notification-info;
}

.error {
  background-color: $notification-error;
}

.success {
  background-color: $notification-success;
}

.snackbarContent {
  flex-wrap: nowrap;
  padding: 6px 15px;
}

.action {
  padding-left: 10px;
}

.content {
  align-items: center;
  display: flex;
}

.alertTypeIcon {
  font-size: 20px;
  margin-right: 10px;
  opacity: 0.9;
}
