$black: rgba(0, 0, 0, 0.87);
$white: #FFF;
$light-blue: #4D97FA;
$light-blue2: #52C0EE;
$bahama-blue: #01579B;
$dark-blue: #1D558C;
$blue: #387AC9;
$red: #F00;
$disabled-gray: rgba(0, 0, 0, 0.38);
$light-gray: #F5F5F5;
$gray: rgba(0, 0, 0, 0.54);
$gray2: #D9D9D9;
$signup-background-color: #05122C;
$error: #F44336;
$green: #02E700;
$green2: #97F6C4;
$button-dark-blue: #1D558C;
$button-dark-blue-hover: #184673;
$button-light-blue: #4D97FA;
$button-light-blue-hover: #407CCD;
$button-blue: #387AC9;
$button-blue-hover: #295993;
$button-green: #02E700;
$button-green-hover: #02BE00;
$text-button-light-blue-hover: rgba(64, 124, 205, 0.08);
$text-button-dark-blue-hover: rgba(24, 70, 115, 0.08);
$text-button-green-hover: rgba(2, 190, 0, 0.08);
$text-button-blue-hover: rgba(41, 89, 147, 0.08);
$input-primary: #4D97FA;
$loading-base: #4D97FA;
$divider-base: rgba(0, 0, 0, 0.15);
$transparent: transparent;
$notification-success: #090;
$notification-error: #C00;
$notification-info: #0065A3;
$tooltip-base: rgb(226, 226, 226);
$history-first-color: #69E144;
$history-second-color: #62CD58;
$history-third-color: #5CB98A;
$sidebar-rigth: #326EB1;
$sidebar-welcome-shadow: rgba(0, 0, 0, 0.26);
$card-shadow-1: rgba(0, 0, 0, 0.2);
$card-shadow-2: rgba(0, 0, 0, 0.14);
$card-shadow-3: rgba(0, 0, 0, 0.12);
$card-shadow-4: rgba(0, 0, 0, 0.24);
$history-first-current-year: #69E144;
$history-first-past-year: #5B9AEA;
$history-first-other-year: #A83800;
$history-second-current-year: #62CD58;
$history-second-past-year: #416DB3;
$history-second-other-year: #C14B0F;
$history-third-current-year: #5CB98A;
$history-third-past-year: #233C6A;
$history-third-other-year: #BA531F;
$tab-border-gray: #E0E0E0;
$tab-background-gray: #F8F8FA;
$tab-text-gray: #A8A8AA;
$notification-badge: #CE3B3B;
$reference-line-yellow: #FFC000;
$graphic-line-first: #A56B00;
$graphic-line-second: #BA821B;
$file-input-drag-glow: #9ECAED;
$file-input-loading-first: #DADADA;
$file-input-loading-second: #999;
$readed-notification: rgba(0, 0, 0, 0.1);
$skeleton-base: #CCC;
$skeleton-first: #DDD;
$skeleton-second: #E8E8E8;
$no-account-card: rgba(255, 255, 255, 0.412);

// sass-lint:disable no-misspelled-properties

:export {
  black: $black;
  blue: $blue;
  darkBlue: $dark-blue;
  disabledGray: $disabled-gray;
  error: $error;
  bahamaBlue: $bahama-blue;
  graphicLineFirst: $graphic-line-first;
  graphicLineSecond: $graphic-line-second;
  gray: $gray;
  gray2: $gray2;
  green: $green;
  green2: $green2;
  historyFirstColor: $history-first-color;
  historyFirstCurrentYear: $history-first-current-year;
  historyFirstOtherYear: $history-first-other-year;
  historyFirstPastYear: $history-first-past-year;
  historySecondColor: $history-second-color;
  historySecondCurrentYear: $history-second-current-year;
  historySecondOtherYear: $history-second-other-year;
  historySecondPastYear: $history-second-past-year;
  historyThirdColor: $history-third-color;
  historyThirdCurrentYear: $history-third-current-year;
  historyThirdOtherYear: $history-third-other-year;
  historyThirdPastYear: $history-third-past-year;
  inputPrimary: $input-primary;
  lightBlue: $light-blue;
  lightBlue2: $light-blue2;
  lightGray: $light-gray;
  notificationSuccess: $notification-success;
  referenceLineYellow: $reference-line-yellow;
  transparent: $transparent;
  white: $white;
  fileInputDragGlow: $file-input-drag-glow;
  fileInputLoadingFirst: $file-input-loading-first;
  fileInputLoadingSecond: $file-input-loading-second;
  skeletonBase: $skeleton-base;
  skeletonFirst: $skeleton-first;
  skeletonSecond: $skeleton-second;
  noAccountCard: $no-account-card;
}