$default-horizontal-padding: 30px;
$default-mobile-horizontal-padding: 10px;
$sidebar-min-width: 250px;
$sidebar-max-width: 260px;
$sidebar-option-height: 35px;
$sidebar-icon-width-and-height: 20px;
$sidebar-icon-image-width-and-height: 16px;
$topbar-footer-height: 35px;